<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>This app is using technologies like NodeJs, MongoDB and Express to give you a good experience when you try to save your notes.</p>
    <hr class="my-4" >
    <p>Developed by Ismael Ponce.</p>
  </div>
</div>
