<div class="footerContainer d-none d-lg-block">
  <nav class="navbar navbar-expand-lg navbar-dark footer bg-dark h-100">
    <div class="container">
        <div class="nav-item d-flex align-items-center">
          <a class="nav-link" href="https://github.com/pontzi"><img src="https://image.flaticon.com/icons/svg/2111/2111425.svg" class="githubIcon" alt="Github"></a>
          <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Developed by Ismael Ponce</a>
        </div>
      </ul>
    </div>
  </nav>
</div>
